html{
    box-sizing: border-box;
    background-color:bisque;
    font-family: 'Arial';
    font-style: normal;
 
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    
}
 

.title{
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
}


.accordion {
    max-width: 1400px;
    margin:0 auto;
    cursor:pointer;
}

.accordion:hover .icon-mem{
    height: 30px;

}
.accordion:hover .accordion-mem-title{
    color: black;

}
.accordion-item {
    cursor:pointer;
    border-top: 1px solid  #F1CDB3;;
    border-bottom: 1px solid  #F1CDB3;;
   margin-bottom: 10px;
}
.accordion-item:active{
   opacity: 0.6;
 }
.accordion-item:hover .icon-mem{
    transform: rotate(45deg);
    transition: 0.7s;
}
.accordion-item:hover .image-mem{
    height: 350px;
    transition: 0.7s;
}

.accordion-mem-title {
    padding-bottom: 12px;
    display: block;
    cursor:pointer;
    color:dodgerblue;
}

.accord-input {
    appearance: none;
}
.accord-input:checked ~ .image-mem  { 
    
    height: 350px;
    transition: 0.7s;
}
.accord-input:checked ~ .accordion-mem-title  { 
    
    color: black;
}


.accordion-mem-title:hover ~ .image-mem {
    
    height: 350px;
    transition: 0.7s;
}
.accordion-mem-title:hover .icon-mem{
    transform: rotate(45deg);
    transition: 0.7s;
}

.title-block{
    display: flex;
justify-content: space-between;
align-items: center;
}
.image-mem {
    display: flex;
justify-content: space-around;
    overflow: hidden;
    height: 0;
    transition: 0.7s;
    cursor:pointer;

}
.image-mem:active{
   background: rgba(grey, grey, grey, 0.9)
}
.img-mem{
    margin-bottom: 20px;
    cursor:pointer;
}
.icon-mem{
    width: 25px;
    overflow: hidden;
    height: 0;
    cursor:pointer;
}


.title-mem{
    font-size: 32px;
    cursor:pointer;
   
}


@media(max-width: 820px){
    .container {
        max-width: 700px;
      
    }
    .accordion {
        max-width: 700px;
       
    }
   
    .accordion-item:hover .image-mem{
        height: 250px; 
    }
    .accord-input:checked ~ .image-mem  { 
    
        height: 250px;
    }
    .accordion-mem-title:hover ~ .image-mem {
      
        height: 250px;
    }
    .img-mem{
      
        height: 250px;
    }
    .title-mem{
        font-size: 16px;
    }
    .icon-mem{
        max-width: 20px;
    }
}
@media(max-width: 620px){
    .container {
        max-width: 400px;
    }
    .accordion {
        max-width: 400px;
    }
   
    .accordion-item:hover .image-mem{
        height: 180px; 
    }
    .accord-input:checked ~ .image-mem  { 
    
        height: 180px;
    }
    .accordion-mem-title:hover ~ .image-mem {
      
        height: 180px;
    }
    .img-mem{
      
        height: 180px;
    }
    .title-mem{
        font-size: 14px;
    }
    .icon-mem{
        width: 17px;
    }
}
@media(max-width: 320px){
    .container {
        max-width: 300px;
    }
    .accordion {
        max-width: 300px;
    }
   
    .accordion-item:hover .image-mem{
        height: 180px;
    }
    .accord-input:checked ~ .image-mem  { 
    
        height: 180px;
    }
    .accordion-mem-title:hover ~ .image-mem {
      
        height: 180px;
    }
    .img-mem{
      
        height: 180px;
    }
    .title-mem{
        font-size: 12px;
    }
    .icon-mem{
        width: 15px;
    }
}