html{
    box-sizing: border-box;
    background-color:bisque;
    font-family: 'Arial';
    font-style: normal;
    font-size:calc(100vw / 1920 * 10);
    overflow: auto
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    
}
 

.title{
    margin-top: 3rem;
    font-size: 6rem;
    text-align: center;
}


.accordion {
    max-width: 140rem;
    margin:0 auto;
    cursor:pointer;
}
@media(hover:hover){
    .accordion:hover .icon-mem{
        height: 3rem;
    
    }
    .accordion:hover .accordion-mem-title{
        color: black;
    
    }
    .accordion-item:hover .icon-mem{
        transform: rotate(45deg);
        transition: 0.7s;
    }
    .accordion-item:hover .image-mem{
        height: 35rem;
        transition: 0.7s;
    }
    .accordion-mem-title:hover ~ .image-mem {
    
        height: 35rem;
        transition: 0.7s;
    }
    .accordion-mem-title:hover .icon-mem{
        transform: rotate(45deg);
        transition: 0.7s;
    }
    
}

.accordion-item {
    cursor:pointer;
    border-top: 0.1rem solid  #F1CDB3;;
    border-bottom: 0.1rem solid  #F1CDB3;;
   margin-bottom: 1rem;
}
.accordion-item:active{
   opacity: 0.6;
 }

.accordion-mem-title {
    padding-bottom: 1.2rem;
    display: block;
    cursor:pointer;
    color:dodgerblue;
}

.accord-input {
    appearance: none;
}
.accord-input:checked ~ .image-mem  { 
    
    height: 35rem;
    transition: 0.7s;
}
.accord-input:checked ~ .accordion-mem-title  { 
    
    color: black;
}




.title-block{
    display: flex;
justify-content: space-between;
align-items: center;
}
.image-mem {
    display: flex;
justify-content: space-around;
    overflow: hidden;
    height: 0;
    transition: 0.7s;
    cursor:pointer;

}
.image-mem:active{
   background: rgba(grey, grey, grey, 0.9)
}
.img-mem{
    margin-bottom: 2rem;
    cursor:pointer;
}
.icon-mem{
    width: 3rem;
    overflow: hidden;
    height: 0;
    cursor:pointer;
}


.title-mem{
    font-size: 5rem;
    cursor:pointer;
   
}
.footer{
    height: 30rem;
}

@media(max-width: 820px){
    font-size:calc(100vw / 820 * 10)
    

    .title-mem{
        font-size: 4em;
    }
}

@media(max-width: 320px){
    font-size:calc(100vw / 320 * 10)
    .title-mem{
        font-size: 3em;
    }
}